YUYU_NOTIFICATION_URL = "rabbit://openstack:password@127.0.0.1:5672/"
YUYU_NOTIFICATION_TOPICS = ["notifications"]

# Currency Configuration
CURRENCIES = ('INR','USD')
DEFAULT_CURRENCY = "INR"

# Email Setting

EMAIL_TAG = '[Invoice]'
DEFAULT_FROM_EMAIL = 'billing@yotta.com'

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = '<paste your gmail account here>'
EMAIL_HOST_PASSWORD = '<paste Google password or app password here>'
EMAIL_PORT = 587
EMAIL_USE_TLS = True